body {
    background-color: #ffffff;
}

header {
    background-color: #f0f0f0;
}

#logo {
    border-right: #d1d1d1 solid 1px;
}

a {
    color: #333;
}

.page-heading {
    text-shadow: 2px 2px 4px #6a6160af;
}

.section-heading {
    text-shadow: 2px 2px 4px #6a6160af;
}

.wide-card {
    background-color: #f0f0f0;
}

.about-card {
    background-color: #f0f0f0;
}

.portfolio-deck {
    background-color: #f0f0f0;
}

.portfolio-card {
    background-color: #fff;
}

.resume-body {
    background-color: #f0f0f0;
}

.card {
    background-color: #fff;
}

.card h3 {
    color: #333;
    border-bottom: #e9e9e9 solid 1px;
}

footer {
    border-top: #aaaaaa solid 1px;
}


.footer-nav a {
    color: #c9c9c9;
}

.popup-content {
    background-color: white;
}

.contact-form-container {
    background-color: #f0f0f0;
}

#message,
#email {
    border: #d1d1d1 solid 1px;
}

#submit-button {
    background-color: #ffffff;
    color: black;
}

#submit-button:disabled {
    background-color: #cbcbcb;
    color: #e4e4e4;
}

/* Responsive Design */

@media (max-width: 768px) {
    header nav {
        border-top: #d1d1d1 solid 1px;
    }
}


