body {
    background-color: #414141;
    color:#c9c9c9
}

header {
    background-color: #595959;
    color: #c9c9c9;
}

#logo {
    border-right: #868686 solid 1px;
}

a {
    color: #c9c9c9;
}


.page-heading {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.section-heading {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.wide-card {
    background-color: #595959;
}

.about-card {
    background-color: #595959;
}

.portfolio-deck {
    background-color: #595959;
}

.portfolio-card {
    background-color: #6c6c6c;
}

.resume-body {
    background-color: #595959;
} 

.card {
    background-color: #6c6c6c;
}

.card h3 {
    color: #c9c9c9;
    border-bottom: #7c7c7c solid 1px;
}

footer {
    border-top: #545454 solid 1px;
    color: #818181
}

.footer-nav a {
    color: #696969;
}


.popup-content {
    background-color: #595959;
}

.video {
    max-width: 80%;
    min-width: 50%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.contact-form-container {
    background-color: #595959;
}


#message, #email {
    background-color: #696969;
    border: #545454 solid 1px;
    color: #ededed;
}

#message::placeholder, #email::placeholder {
    color: #c9c9c9;
}

#submit-button {
    background-color: #818181;
    color: #ededed;
}

#submit-button:disabled {
    background-color: #696969;
    color: #818181;
}

/* Responsive Design */

@media (max-width: 768px) {
    header nav {
        border-top: #868686 solid 1px;
    }
}

@media print {
    body {
        background-color: #ffffff;
        color: black;
    }

    a {
        color: black;
    }
}
